$font-size:           14px;
$font-size--medium:   18px;
$font-size--big:      21px;
$line-height:         1.7;
$font-family:         'PT Sans', 'Arial', sans-serif;

$color-main:          #81b3d2;
$color-main--darken:  #669ec0;
$color-main--darkest: #5496bd;
$color-secondary:     #fff;
$color-text:          #333;
$color-title:         #000;

$gray:                #eee;
$gray--darken:        #d6d6d6;

$tablet-widths:       768px;
$desktop-widths:      1200px;
