.field-checkbox {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}
.field-checkbox__input {
  display: none;

  &:checked + .field-checkbox__label::after {
    opacity: 1;
  }

  &:checked + .field-checkbox__label:active::after{
    opacity: 0.3;
  }
}
.field-checkbox__label {
  display: block;
  font-size: 0;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background: #f2f2f2;
    margin-right: 20px;
    transition: background 0.15s linear;
  }

  &::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url(../img/icon-tick.svg) no-repeat center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    transition: opacity 0.15s linear;
    opacity: 0;
  }

  &:hover::before{
    background: #e5e5e5;
  }

  &:active::before{
    background: #d5d5d5;
  }
}
.field-checkbox__label-text {
  display: inline-block;
  vertical-align: middle;
  font-size: $font-size--medium;
  font-weight: 700;
  width: calc(100% - 76px);
}
@media (min-width: $tablet-widths) {
  .field-checkbox {
    width: 260px;
    margin-bottom: 30px;
  }
}
@media (min-width: $desktop-widths) {
  .field-checkbox {
    width: auto;
    margin-bottom: 0;
    max-width: 25%;

    &:last-child {
      padding-right: 0;
    }
  }
}
