.field-radio {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
.field-radio__input {
  display: none;

  &:checked + .field-radio__label:after {
    opacity: 1;
  }

  &:checked + .field-radio__label:active::after{
    opacity: 0.3;
  }
}
.field-radio__label {
  display: block;
  font-size: 0;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #f2f2f2;
    margin-right: 20px;
    transition: background 0.15s linear;
  }

  &::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    background: #333;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: opacity 0.15s linear;
    opacity: 0;
  }

  &:hover::before{
    background: #e5e5e5;
  }

  &:active::before{
    background: #d5d5d5;
  }
}
.field-radio__label-text {
  display: inline-block;
  vertical-align: middle;
  font-size: $font-size--medium;
  font-weight: 700;
  width: calc(100% - 76px);
}
@media (min-width: $tablet-widths) {
  .field-radio {
    margin-bottom: 23px;
  }
}
