.main-menu {
  background: $color-main;
  position: relative;
}
.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--hidden {
    display: none;
  }
}
.main-menu__item {
  border-bottom: 1px solid rgba(1,1,1,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2);

  &:first-child {
    box-shadow: none;
  }
  &:last-child {
    border-bottom: none;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),
                inset 0 -10px 10px -10px rgba(0,0,0,.2);
  }
}
.main-menu__link {
  display: block;
  font-size: $font-size--medium;
  font-weight: 700;
  color: $color-secondary;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
  padding: 15px;
  word-wrap: break-word;
  transition: all 0.15s linear;

  &:hover {
    background: $color-main--darken;
  }

  &:active {
    background: $color-main--darkest;
    color: #88b6d1;
  }
}
.main-menu__toggle {
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 55px;
  background: url(../img/icon-menu.svg) no-repeat center;
  cursor: pointer;

  &--close {
    background-image: url(../img/icon-cross.svg);
  }
}
@media (min-width: $tablet-widths) {
  .main-menu {
    background: none;
  }

  .main-menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-menu__item {
    box-shadow: none;
    border-bottom: none;
    width: 20%;

    &:nth-child(4n + 2) {
      margin-right: 20%;
    }

    &:last-child {
      box-shadow: none;
    }

    &--active a{
      color: #766357;

      &:hover {
        color: #604e43;
      }

      &:active {
        color: #d6d0cc;
      }
    }
  }

  .main-menu__link {
    color: #000;
    font-size: $font-size;
    padding: 18px 15px;

    &:hover {
      background: none;
      color: $color-main;
    }

    &:active {
      color: #b2b2b2;
    }
  }

  .main-menu__toggle {
    display: none;
  }
}
