.page-title {
  margin: 0;
  font-size: $font-size--medium;
  line-height: 1.44;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 35px 25px 20px;
}

@media (min-width: $tablet-widths) {
  .page-title {
    font-size: $font-size--big;
    line-height: 1.23;
    padding: 60px;
    padding-bottom: 30px;

    &--big {
      font-size: $font-size--big + 9;
    }
  }
}
