.reasons {
  padding-top: 10px;
  text-align: center;
}
.reasons__desc {
  text-transform: uppercase;
  color: $color-text;
  padding: 0 20px;
  padding-bottom: 8px;

  p {
    margin: 0;
  }
}
.reasons__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.reasons__item {
  &--bg-gray{
    background: $gray;
    padding: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      height: 1px;
      background: $gray--darken;
    }
  }
  &--bg-gray {
    padding: 26px 35px;

    .reasons__item-number {
      margin-bottom: 12px;
    }

    &:last-child::after {
      display: none;
    }
  }

}
.reasons__item-wrap {
  padding: 40px 20px;
  background: $color-main;
  color: $color-secondary;

  &--triangle {
    padding-top: 77px;
    background: $color-main url(../img/bg-triangle.svg) no-repeat center top / 100% 37px;
  }

  &--revert {
    padding: 36px 0;

    .reasons__item-number {
      margin-bottom: 15px;
    }
  }
}
.reasons__item-title {
  margin: 0;
  text-transform: uppercase;
  font-size: $font-size--medium;
  font-weight: 700;
  margin-bottom: 5px;

  br {
    display: none;
  }
}
.reasons__item-number {
  margin: 0 0 10px;
}
.reasons__item-desc {
  margin: 0;
  text-transform: uppercase;
  max-width: 100%;
}
.reasons__item-br {
  display: none;
}
.reasons__item-image{
  img {
    vertical-align: middle;
  }
}
@media (min-width: $tablet-widths) {
  .reasons__desc {
    margin-bottom: 40px;
    padding-bottom: 9px;
  }
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }
  .reasons__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &--bg-gray {
      width: 33%;
      flex-grow: 1;
      flex-direction: column;
      padding: 44px 50px;

      &:nth-child(3) {
        padding-left: 45px;
        padding-right: 45px;
      }

      &:nth-child(4) {
        padding-left: 55px;
        padding-right: 55px;
      }

      &::after {
        display: none;
      }

      .reasons__item-number {
        margin-bottom: 20px;
      }
    }
  }
  .reasons__item-wrap {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 45px;
    flex-grow: 1;
    min-height: 256px;

    &--triangle {
      padding-top: 40px;
      background: $color-main;
    }

    &--revert {
      order: 1;
    }
  }
  .reasons__item-title {
    font-size: $font-size--big;
    line-height: 1.25;
    margin-bottom: 10px;

    br {
      display: block;
    }
  }
  .reasons__item-number {
    margin-bottom: 20px;
  }
  .reasons__item-desc {
    line-height: 1.5;
  }
  .reasons__item-br {
    display: inline;
  }
  .reasons__item-image {
    flex-grow: 1;
    width: 66.66%;
    position: relative;
    z-index: 1;

    img{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }
}
@media (min-width: $desktop-widths) {
  .reasons__item {

    &--bg-gray {
      padding-bottom: 66px;


      &:nth-child(4) {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
  .reasons__item-title {
    padding: 0 75px;
    margin-bottom: 9px;
  }
  .reasons__item-number {
    margin-bottom: 20px;
  }

  .reasons__item-desc {
    padding: 0 20px;
  }

  .reasons__item-wrap {

    &--triangle {
      padding: 50px 40px 54px;
    }
    &--revert {
      padding: 50px 40px 54px;

      .reasons__item-title {
        margin-bottom: 10px;
      }

      .reasons__item-number {
        margin-bottom: 20px;
      }

      .reasons__item-desc {
        padding: 0 45px;
      }
    }
  }
}
