.features {
  margin: 0;
  padding: 30px 20px;
  list-style: none;
  text-align: left;
}
.features__item {
  position: relative;
  padding: 7px 20px 20px 50px;

  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/icon-house.svg) no-repeat;
    background-size: 40px auto;
    position: absolute;
    left: 0;
    top: 0;
  }

  &--gift::before {
    background-image: url(../img/icon-gift.svg);
    height: 50px;
  }

  &--eat::before {
    background-image: url(../img/icon-burger.svg);
  }
}
.features__item-title {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: $font-size--medium;
  line-height: 1.44;
}
.feature__item-desc {
  margin: 0;
  color: $color-text;
  line-height: 1.5;
  text-transform: uppercase;
}
@media (min-width: $tablet-widths) {
  .features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .features__item {
    width: 33%;
    flex-grow: 1;
    padding: 20px;
    text-align: center;

    &::before {
      position: relative;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      background-size: 80% auto;
      background-position: center bottom;
      margin-bottom: 30px;
    }
  }
}
