.intro {
  padding: 90px 20px;
  background: url(../img/bg-intro-triangle-mobile.svg) no-repeat center bottom,
              url(../img/bg-back-mobile@1x.jpg) no-repeat center;
  background-size: 105% auto, auto;
}
