.like {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 0;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 22px;
    height: 20px;
    background: url(../img/icon-like.svg) no-repeat;
    margin-right: 5px;
  }
}
.like__count {
  display: inline-block;
  vertical-align: bottom;
  font-weight: 700;
  line-height: 1;
  font-size: 14px;
}

@media (min-width: $desktop-widths) {
  .like {
    color: #fff;
  }
}
