.logo {
  width: 102px;
  margin: 0 auto;
}
.logo__link {
  display: block;

  picture {
    display: block;
  }

  img {
    width: 100%;
    vertical-align: middle;
  }
}
@media (min-width: $desktop-widths) {
  .logo {
    width: 187px;
  }
}
