.reasons {
  padding-top: 15px;
  text-align: center;
}
.reasons__desc {
  text-transform: uppercase;
  color: $color-text;
  padding: 0 20px;

  p {
    margin: 0;
  }
}
.reasons__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.reasons__item {
  &--bg-gray{
    background: $gray;
    padding: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      height: 1px;
      background: $gray--darken;
    }
  }
  &--bg-gray:last-child::after {
    display: none;
  }
}
.reasons__item-wrap {
  padding: 40px 20px;
  background: $color-main;
  color: $color-secondary;

  &--triangle {
    padding-top: 77px;
    background: $color-main url(../img/bg-triangle.svg) no-repeat center top;
  }
}
.reasons__item-title {
  margin: 0;
  text-transform: uppercase;
  font-size: $font-size--medium;
  font-weight: 700;
  margin-bottom: 5px;
}
.reasons__item-number {
  margin: 5px 0;
}
.reasons__item-desc {
  margin: 0;
  text-transform: uppercase;
}
.reasons__item-image{
  img {
    vertical-align: middle;
  }
}
@media (min-width: $tablet-widths) {
  .reasons__desc {
    margin-bottom: 50px;
  }
  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }
  .reasons__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &--bg-gray {
      width: 33%;
      flex-grow: 1;
      flex-direction: column;
    }
  }
  .reasons__item-wrap {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--triangle {
      padding-top: 40px;
      background: $color-main;
    }

    &--revert {
      order: 1;
    }
  }
  .reasons__item-image {
    width: 67%;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 260px; // Как тут лучше сделать?
    }
  }
}
