.video-player {
  position: relative;
  z-index: 1;
  padding-bottom: 65px;
}
.video-player__preview {
  text-align: center;

  img {
    vertical-align: middle;
  }
}
.video-player__controls {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 20px;
  right: 20px;
}
.video-player__progress-bar {
  background: rgba(0,0,0,.6);
  height: 45px;
  padding: 23px;
  padding-bottom: 20px;
}
.video-player__track {
  height: 3px;
  background: rgba(255,255,255,.2);
}
.video-player__toggle {
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  top: 19px;
  left: 15%;
}
.video-player__buttons {
  height: 65px;
  padding: 10px;
  background: #f2f2f2;
  display: flex;
}
.video-player__button {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  &--replay {
    background-image: url(../img/icon-video-replay.svg);
    margin-right: auto;
  }

  &--subtitles {
    background-image: url(../img/icon-video-subtitles.svg);
    margin-right: 5px;
  }

  &--fullscreen {
    background-image: url(../img/icon-video-fullscreen.svg);
  }
}

@media (min-width: $tablet-widths) {
  .video-player {
    padding: 0;
    margin: 0 60px;
  }
  .video-player__controls {
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    padding: 15px;
    height: 95px;
  }
  .video-player__progress-bar,
  .video-player__buttons {
    background: none;
    padding: 0;
  }
  .video-player__progress-bar {
    position: absolute;
    z-index: 1;
    left: 95px;
    right: 160px;
    height: 65px;
    padding: 30px 0;
  }
  .video-player__toggle {
    top: 27px;
  }
  .video-player__button {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: $desktop-widths) {
  .video-player {
    max-width: 800px;
    margin: 0 auto;
  }
}
