.video {
  padding: 20px 0;
}
.video__title {
  font-size: $font-size--medium;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 25px;
}
.video__desc {
  color: $color-text;
  text-align: center;
  padding: 0 20px;
  text-transform: uppercase;
  margin-bottom: 25px;

  p {
    margin: 0;
  }
}
@media (min-width: $tablet-widths) {
  .video {
    padding-top: 60px;
  }
  .video__title {
    font-size: 30px;
    padding: 0 60px;
  }
  .video__desc {
    padding: 0 60px;
    margin-bottom: 60px;
  }
}
